{% extends "base.html" %}
{% block title %}木犀内外门户-个人页{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="/static/css/profile.css">{% endblock %}
{% block script %}
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
	<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
{% endblock %}
{% block content %}
    <div id="profile"> </div>
{% endblock %}