.get_captcha{
    width:70px;
}
.input-prepend1{
    display: flex;
    width: 272px;
    height: 33px;
    margin-top:17px;
}
.email_blank{
    display: inline-block;
    outline: none;
    border: 0;
    padding-left: 15px;
    line-height: 33px;
    width: 202px;
    background: rgba(244, 244, 244, 1);
}
.get_captcha{
    height: 33px;
    background: rgba(29, 76, 181, 1);
    color: white;
}
.get_captcha_unuse{
    width: 70px;
    height: 33px;
    background: rgba(29, 76, 181, 1);
    color: white;
}
.none{
    width: 20px;
    margin-top:20px;
    font-size: 0;
}
.remind{
    font-size: 10px;
    margin-left:5px;
    margin-bottom:5px;
    text-align: left;
    color:red;
}
.margin-fix{
    width: 272px;
    height: 33px;
    margin: 0 auto 0 auto;
}
.user_password{
    display: inline-block;
    outline: none;
    border: 0;
    padding-left: 15px;
    line-height: 33px;
    width: 272px;
    background: rgba(244, 244, 244, 1)
}
.title{
    font-size: 19px;
    color: rgba(9, 9, 9, 1);
}
.container{
    width: 376px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 9px 0px rgba(37, 43, 147, 0.25);
    border-radius: 9px;
    margin: 34px auto auto auto;    
    padding: 30px 52px 50px 52px;
    color: rgba(145,145,145,1);
}
.next-button{
    display: block;
    width: 272px;
    height: 33px;
    background: rgba(29, 76, 181, 1);
    margin: 0 auto;
    margin-top: 20px;
    color: white;
}